<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CUPUS Mobile broker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EBD20D01CCE205000905452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EBD20E41CCE205100905452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EBD20EF1CCE205100905452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EFEE3131D058DFC00215EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
